nav.navbar {
    height: 80px;
    background-color: #444444;

    .container-fluid {
        a.navbar-brand {
            color: #DA0037;
            font-size: 35px;
            font-weight: 600;
        }

        div.collapse.navbar-collapse {
            div.navbar-nav {
                a.nav-link {
                    color: #fff;
                    margin-left: 50px;
                }
            }
        }

        div.auth-btn-section {
            margin-left: 10%;

            button.btn.btn-dark {
                width: 108px;
                margin: 7.5px;
                background-color: transparent;
                border: 1px solid #fff;
                border-radius: 10px;
                padding: 10px;
            }
        }

       

        div.wallet-section {
            button.btn.btn-light {
                display: flex;
                justify-content: space-between;
            }

            span.material-sysmbols-outlined {
                padding-left: 5px;
            }
        }
    }
}


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: center;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        margin-left: 100px;
    }
}

::ng-deep {
    button.p-element.p-ripple.p-button.p-component {
        background-color: transparent;
        border:none;
        width: 125px;
    }
}