<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">RR GEMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link">Explore</a>
        <a class="nav-link">Collections</a>
        <a class="nav-link">FAQ</a>
        <a class="nav-link">LootBox</a>
      </div>
    </div>
    <div class="auth-btn-section" *ngIf="isLoggedIn == false">
      <button class="btn btn-dark" (click)="openLoginDialog()">Login</button>
      <button class="btn btn-dark" (click)="openSignUpDialog()">SignUp</button>
    </div>
  </div>
  <div class="auth-user-section"  *ngIf="isLoggedIn == true">
    <button type="button" pButton pRipple icon="pi pi-chevron-down" label="Hi, User" (click)="menu.toggle($event)"></button>
    <p-menu #menu [popup]="true" [model]="items"></p-menu>
  </div>
</nav>