footer.text-center.text-lg-start {
    background-color: #0e0d0d;
    div.container.p-4 {
        div.row {
            .col-lg-6.col-md-12.mb-4.mb-md-0 {
                h5.text-uppercase {
                    color: rgb(102, 102, 102);
                }

                p {
                    color: rgb(102, 102, 102);
                }
            }
        }
    }
    div.text-center.p-3 {
        color: rgb(102, 102, 102);
        .text-dark {
            color:rgba(102, 102, 102) !important;
        }
    }
}