footer.text-center.text-lg-start {
    background-color: #444444;
    div.container.p-4 {
        div.row {
            .col-lg-6.col-md-12.mb-4.mb-md-0 {
                h5.text-uppercase {
                    color: #EDEDED;
                }

                p {
                    color: #EDEDED;
                }
            }
        }
    }
    div.text-center.p-3 {
        color: #EDEDED;
        .text-dark {
            color:#EDEDED !important;
        }
    }
}