.login-container {
    background-color: #171717;
    height: 580px;
    width: 450px;
    padding: 0px 20px;
    h1 {
        color: #fff;
        text-align: center;
        font-weight: 600;
        margin-bottom: 15%;
    }
    form {
        small {
            color:red;
            padding-top:5px;
        }
        .userName-section {
            input[type=text] {
                margin:35px 0px 5px 0px;
                background-color: #444444;
                border-radius: 10px;
                border: 1px solid #444444;
                color: #fff;
                font-size: 16px;
                font-family: sans-serif;
                padding:13px;
            }
        }
        button.btn-light {
            background-color: #fff;
            width:100%;
            border-radius: 10px;
            color:#000;
            font-size:16px;
            margin:10px 0px;
        }
        .password-section {
            input[type=password] {
                margin: 10px 0px 5px 0px;
                background-color: #444444;
                border-radius: 10px;
                border: 1px solid #444444;
                color: #fff;
                font-size: 16px;
                font-family: sans-serif;
                padding:13px;
            }
        }
        .login-btn-section {
            padding-top:15px;
            button.btn-light {
                background-color:#EDEDED;
                width:100%;
                border-radius: 10px;
                color:#171717;
                font-size:16px;
                margin:10px 0px;
                padding:10px;
                border:1px solid #EDEDED;
            }
        }
        .line {
            padding-top: 20px;
        }
        .external-authentication-section {
            padding-top:20px;
            button.btn-light {
                background-color: transparent;
                width:100%;
                border-radius: 10px;
                color:#fff;
                font-size:16px;
                margin:10px 0px;
                padding:12px;

                img.ethereum-icon {
                    height: 24px;
                    margin-left: 10px;
                }
                img.google-icon {
                    height: 24px;
                    margin-left: 10px;
                }
            }
        }
    }
}
::ng-deep {
    .p-dialog .p-dialog-header {
        border-bottom: 0 none;
        background: #171717;
        color: #343a40;
        padding:0.5rem;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }

    .p-dialog .p-dialog-content {
        padding: 0px;
    }
}